<div class="vertical-nav navbar-light bg-light" id="sidebar" style='{background-color: gray !important;}'>
  <div class="py-4 px-3 mb-4 bg-dark">
    <div class="media d-flex align-items-center">
      <div class="media-body">
        <h4 class="m-0 text-light"> <i class="fa fa-users mr-3 text-light fa-fw"></i> <%= team.name %> </h4>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0"> team members</p>

  <div>
    <% @team.users.each do |user| %>
      <ul class="nav flex-column bg-light mb-0">
        <li class="nav-item">
          <a class="nav-link text-dark font-italic">
            <i class="fa fa-user mr-3 text-dark fa-fw"></i>
            <%= user.name %>
          </a>
        </li>
      </ul>
    <% end %>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0"> setting </p>

  <div>
    <ul class="nav flex-column bg-light mb-0">
      <li class="nav-item">
        <a href="<%=edit_team_path(@team)%>" class="nav-link text-dark font-italic">
          <i class="fa fa-edit mr-3 text-dark fa-fw"></i>
          Edit team
        </a>
      </li>

    </ul>
  </div>
  
</div>
