<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"><%= t('teams') %></h1>
  <%= link_to new_team_path, class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" do %>
    <i class="fa fa-plus fa-sm text-white-50"></i>
    <span> <%= t('new_team') %> </span>
  <% end %>
</div>

<%= react_component("Index", { 'data': @data }) %>
