<div class="form-team-b">
    <p> <h2 class="text-center text-white">New team</h2></p>
    <%= render 'form', team: @team %>
    <%= link_to '<i class="fa fa-backward mr-3 text-light fa-fw"></i>Back'.html_safe, teams_path, html_options = {class: "btn btn-light navbar-btn-team"}%>
</div>