language: ruby

rvm:
  - 2.6.2

env:
  - DB=postgresql

services:
  - postgresql

install:
  - bundle install
  - nvm install node
  - node -v
  - npm i -g yarn
  - yarn

before_script:
  - cp config/database.travis.yml config/database.yml
  - psql -c 'create database plock_test' -U postgres
  - bundle exec rake db:create db:migrate RAILS_ENV=test

script:
  - bundle exec rails webpacker:compile
  - bundle exec rails test

