<div id='about-track' class='about-track hidden'>

  <div class="user-about">

    <p>
      <strong>Name:</strong>
      <%= track.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= track.description %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= track.status %>
    </p>
  
    <%= link_to edit_track_path(track), class:"btnIcon btnIconColor btnEdit" do %>
      <i class="fa fa-edit mr-3 text-light fa-fw"></i>Edit
    <% end %>

  </div>
  
</div>