<div class="form-team-b">
    <h2 class="text-center text-white"> Editing Track </h2>
    <%= render 'form', track: @track %>
    <%= link_to '<i class="fa fa-backward mr-3 text-light fa-fw"></i>Back'.html_safe, track_path(@track), html_options = {class: "btn btn-light navbar-btn-team"}%>
    <%= link_to '<i class="fa fa-eye mr-3 text-light"></i>Show'.html_safe, @track, html_options = {class: "btn btn-light navbar-btn-team"}%>
</div>
