<div class="form-team-b">
    <p> <h2 class="text-center text-white">New Track</h2></p>
    <%= render 'form', track: @track %>
    <%= link_to '<i class="fa fa-backward mr-3 text-light fa-fw"></i>Back'.html_safe, project_path(@project), html_options = {class: "btn btn-light navbar-btn-team"}%>
</div>