<div id='about-user' class=''>

  <div class="user-about">

    <h1> About user </h1>
   
    <p>
      <strong class="strong-about">Name:</strong>
      <%= user.name %>
    </p>

    <p>
      <strong class="strong-about">Lastname:</strong>
      <%= user.lastname %>
    </p>

    <p>
      <strong class="strong-about">Company:</strong>
      <%= user.company.name %>
    </p>

    <p>
      <strong class="strong-about">Email:</strong>
      <%= user.email %>
    </p>
  </div>
  
</div>