<div id='team-user' class='teams-user hidden'>

  <div class="user-card-container">

    <% if user.teams.present? %> 
      <% user.teams.each do |team| %>
        <div class="card-project">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header" style="text-align: center;"> <%= team.name %> </div>
            <div class="card-body">
              <h5 class="card-title"> created at </h5>
              <p class="card-text"> <%= team.created_at.strftime("%F %T") %> </p>
              <%= link_to team, class: "btnIcon btnIconColor btnShow", data: { turbolinks: false } do %>
                <i class="fa fa-eye text-light"></i>
              <% end %>
            </div>  
          </div>
        </div>
      <%end%>
    <% end %>


   <div class="card-teams">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header" style="text-align: center;"> New team</div>
      <div class="card-body">
        <p class="card-text"></p>
        <%= link_to new_team_path, class: "btnIcon btnIconColor btnNew" do %>
          <i class="fa fa-plus text-light"></i>
        <% end %>
        <p class="card-text"></p>
      </div>  
    </div>
  </div>
  
  </div>
</div>