<%= render 'navbar-user', user: @user %>

<div class="page-content p-5" id="content">

  <%= render 'about-user', user: @user %>
  <%= render 'team-user', user: @user %>
  <%= render 'projects-user', projects: @projects %>

  <div id='statics-user' class='statics-user hidden'>
    <div id="graph-d3-user"> </div>
  </div>
  
</div>
