<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> <%= t('my_statistics') %> </h1>
</div>

<div id = 'statics-user' class='statics-user'>
  <div class="row">
    <div class="col-xl-6 col-lg-7">
      <div class="card shadow mb-4 border-bottom-primary">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"> <i class="fa fa-fw fa-chart-bar"></i>  </h6>
        </div>
        <div class="card-body">
          <div id="graph-d3-user"> </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-7">
      <div class="card shadow mb-4 border-bottom-primary">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"> <i class="fa fa-fw fa-chart-bar"></i>  </h6>
        </div>
        <div class="card-body">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
          <div id="metric-modal"> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4 border-bottom-primary">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary"> <i class="fa fa-fw fa-chart-line"></i>  </h6>
        </div>
        <div class="card-body">
          <div class="col-xl-4 col-lg-4">
            <%= select_tag :interval, options_for_interval_types, class: "form-control", id: 'change_interval'%>
          </div>
          <div id="graph-d3-lineChart"> </div>
        </div>
      </div>
    </div>
  </div>
</div>