<div class="form-team-b">
    <h2 class="text-center text-white"> Editing Project</h2>
    <%= render 'form', project: @project %>
    <%= link_to projects_path, html_options = {class: "btn btn-light navbar-btn-team"} do %>
        <i class="fa fa-backward mr-3 text-light fa-fw"></i>Back
    <% end %>
    <%= link_to  @project, html_options = {class: "btnIcon btnIconColor btnShow"} do %>
        <i class="fa fa-eye mr-3 text-light"></i>Show
    <% end %>
</div>
