<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> <%= t 'projects' %> </h1>
  <button type="button" class="float-right btn btn-sm btn-primary shadow-sm text-white" data-toggle="modal" data-target="#newProjectModal">
    <i class="fa fa-plus fa-sm text-white"></i>
    <span> <%= t 'new_project' %> </span>
  </button>
</div>

<%= react_component("Index", { 'data': @data }) %>

<%= render 'modal_new_project' %>
