<%= hidden_field_tag :project_id, @project.id %>
<%= render 'navbar-project', project: @project %>

<div class="page-content p-5" id="content">

  <%= render 'about-projects', project: @project %>
  <%= render 'tracks-project', tracks: @tracks %>

  <div id='statics-project' class='statics-project hidden'>
    <div id="graph-d3-project"></div>
  </div>
  
</div>
