<div class="vertical-nav navbar-light bg-light" id="sidebar" style='{background-color: gray !important;}'>

  <div class="py-4 px-3 mb-4 bg-dark">
    <div class="media d-flex align-items-center">
      <div class="media-body">
        <h4 class="m-0 text-light"> <i class="fa fa-building mr-3 text-light fa-fw"></i> <%= company.name %> </h4>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0"> </p>

  <ul class="nav flex-column bg-light mb-0">

    <li class="nav-item">
      <a href=""  data-turbolinks="false" class="nav-link text-dark font-italic" id='about-company-button'>
        <i class="fa fa-info mr-3 text-dark fa-fw"></i>
        About
      </a>
    </li>

    <li class="nav-item">
      <a href=""  data-turbolinks="false" class="nav-link text-dark font-italic" id='company-user-button'>
        <i class="fa fa-user mr-3 text-dark fa-fw"></i>
        Employees
      </a>
    </li>

    <li class="nav-item">
      <a href=""  data-turbolinks="false" class="nav-link text-dark font-italic" id='company-team-button'>
        <i class="fa fa-users mr-3 text-dark fa-fw"></i>
        Teams
      </a>
    </li>

    <li class="nav-item">
      <a href=""  data-turbolinks="false" class="nav-link text-dark font-italic" id='company-project-button'>
        <i class="fa fa-cubes mr-3 text-dark fa-fw"></i>
        Projects
      </a>
    </li>

  </ul>
  
</div>