<%= render 'navbar-company', company: @company %>

<div class="page-content p-5" id="content">

  <%= render 'about-company', company: @company %>
  <%= render 'company-user', users: @company.users %>
  <%= render 'company-project', projects: @projects %>
  
</div>