.home-container{
  .h1-home{
      margin:20px;
  }
  .card-home{
    text-align: -webkit-center;
    margin-left: 20%;
    margin: 20px;
  }
  .cont-card{
      text-align: center;
      margin: 30px;
  }
  img {
      float: right;
  }    
}
