// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-teams{
  text-align: -webkit-center;
  float:left;margin-left:5px;
  margin: 10px;
}
.tems-card-container{
  padding: 5px;
}
.form-team-b{
  position: relative;
  width: 500px;
  justify-content:center;
  background: #343a40;
  border-radius: 5px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
}
.form-team-c{
  text-align:center;
  padding: 30px;
  margin-bottom: 15px;
}
.btn-new-team {
  color: #fff;
  background-color: #343a40;
  border-color: #fff;
}
.btn-new-team:hover {
  color: #343a40;
  background-color:#fff;
  border: solid 2px #fff;
}
.link-back-team{
  color: white;
}
.btn.navbar-btn-team {
  border-color: white;
  text-transform: uppercase;
  color: white;
  background-color: #343a40;
  margin: 8%;
  white-space: nowrap;
  padding: 6px 12px !important;
}
.btn.navbar-btn-team:hover {
  color: #343a40;
  background-color: white;
  border: solid 1px #343a40;
}

.btnIconColor{
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btnIconColor.btnIcon {
  border-color: white;
  text-transform: uppercase;
  color: white;
  margin: 3px;
  white-space: nowrap;
  padding: 6px 12px !important;
}
.btnIconColor.btnIcon.btnTrash {
  background-color: red;
}
.btnIconColor.btnIcon.btnShow {
  background-color: orange;
}
.btnIconColor.btnEdit {
  background-color: blue;
}
.btnIconColor.btnNew {
  background-color: green;
}

