.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: absolute;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}
#sidebar.active {
  margin-left: -17rem;
}
#content.active {
  width: 100%;
  margin: 0;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}
.btn.navbar-btn {
  &:hover{
    color: #343a40;
    background-color: white;
    border: solid 1px #343a40;
  }
  border-color: white;
  text-transform: uppercase;
  color: white;
  background-color: #343a40;
  margin: 3px;
  white-space: nowrap;
  padding: 6px 12px !important;
}
.hidden {
    display: none;
}
.user-about{
  text-align: center;
  background-color:  #f8f9fa;
  color: #343a40;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  border: solid 1px #f8f9fa;;
  border-radius: 5px;
}
.strong-about{
  color:gray
} 
.card-project{
  text-align: -webkit-center;
  float:left;margin-left:5px;
  margin: 10px;
}
.user-card-container{
  padding: 5px;
}