<footer class="page-footer font-small cyan darken-3 bg-dark" style="clear: both;
    position: relative;
    margin-top: 100%;">

  <div class="container">

  </div>

  <div class="footer-copyright text-white text-center py-3">© 2020 Copyright:
    <a> Plock timesheets ® Plum </a>
  </div>

</footer>