<footer class="page-footer font-small cyan darken-3 bg-dark" 
  style= "position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#999;">

  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <div class="footer-copyright text-white text-center py-3">© 2020 Copyright:
    <a> Plock timesheets ® Plum </a>
  </div> 
    </li>
    <li class="list-inline-item pull-right" style="margin:15px;">
      <a href="http://www.plum.com.ar/"> 
        <img class="pull-right footer." src="/images/plum.png" alt="rss feed" />
      </a>
    </li>
  </ul>
  

  
</footer>