<nav class="navbar-left navbar-expand-lg navbar navbar-dark bg-dark">
  
  <% if current_user.present? %>
    <a class="navbar-brand text-light" href="/profile"> <b> Plock </b> </a>
  <% else %>
    <a class="navbar-brand text-light" href="/"> <b> Plock </b> </a>
  <% end %>

    <div class="navbar-nav ml-auto" >

      <% if current_user.present? %>

        <% if current_user&.company&.owner == current_user %>
          <%= link_to 'Company', company_path(current_user.company), class: "btn btn-dark navbar-btn" %>
          <a class="btn btn-dark navbar-btn" href="/profile">
            Profile<span class="sr-only">(current)</span>
          </a>
        <% end %>
      
        <a class="btn btn-dark navbar-btn" data-method="delete" href="/users/sign_out">
          <i class="fa fa-sign-out text-light"></i>
        </a>
   
      <% else %>
        <a class="btn btn-dark navbar-btn" href="/users/sign_in">Sign In</a>
        <a class="btn btn-dark navbar-btn" href="/users/sign_up">Sign Up</a>
      <% end %>

    </div>
</nav>
